/*Tipografia*/
$fuente-base: 'Roboto', sans-serif;

/*Colores*/
$color-base: #4D3800;
$color-blanco: #ffffff;
$color-negro: #000000;
$color-verde: #2dc82d;
$color-footer: #B2ABA4;
$color-navbar: #FFE4C4;

/*Color usado para condicional*/
$color-variable: rgb(8, 139, 247);


